/* Primary Background #FFFFFF */
/* Secondary Background #2F303A */
/* Accent #2196F3 */
/* Primary Text #757575 */
/* Secondary Text #212121 */
/* Footer Contacts rgba(255, 255, 255, 0.6); */

:root {
  --background-primary: #ffffff;
  --background-secondary: #2f303a;
  --text-primary: #757575;
  --text-secondary: #212121;
  --text-foter-contacts: rgba(255, 255, 255, 0.6);
  --accent: #2196f3;
}

body {
  color: var(--text-primary);
  background-color: var(--background-primary);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* -----------Навівація----------- */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}
